.root {
  composes: center from "../../styles/shared.module.css";
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.container {
  composes: narrow-container from "../../styles/shared.module.css";
  display: flex;
}

.figure {
  margin: 0;
}
.photo {
  width: 100px;
  border-radius: 50%;
}

.quote {
  margin: 0 0 0 1rem;
}
